<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    

    <div id="toDoList">
        <div class="text">
            <H1>To-do list</H1>
            <p>Aggiungi, deseleziona ed elimina le cose da fare...</p>
        </div>
        
        <div class="inputBox">
            <input type="text" v-model="newToDo" v-on:keyup.enter="toDoAdd" placeholder="Ex. Andare a correre">
            <button  @click="toDoAdd">Aggiungi To-Do</button>
        </div>
        
        
        <ul>
            <li v-for="(todo, index) in toDo"><span @click="selectDeselect(index)"  v-bind:class="todo.done? 'barred': ''">{{todo.text}}</span> <span class="del" @click="toDoDelete(index)">Elimina</span></li>
        </ul>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>